html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(180, 220, 255);
    height: 100vh;
}




/* Override the section's uneven padding in Bulma */
.section {
    padding: 1.5rem;
}

.slider {
    width: 100%;
}

/* Override last child rule in Bulma for treble */
#treble-controls {
    margin-bottom: 1.5rem;
}






/* Add ponter and hover functionality to tracks, disk image */
.track {
    cursor: pointer;
    margin-bottom: 1.3rem!important;
}

.track:hover {
    background-color: rgb(136, 136, 238);
}

#track-info {
    margin-bottom: 1rem;
}

#track-title {
    margin-bottom: 1rem;
}

.track img {
    border-radius: 50%;
    margin: 5%;
}






#playback-controls img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#playback {
    padding: 0;
    position: relative;
}

canvas {
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0;
}

#progress-bar {
    width: 100%;
    height: 10px;
    background-color: rgb(225, 227, 255);
    border-radius: 0;
    outline: none;
    margin: 0;
    position: relative;
    z-index: 1;
    appearance: none;
}

#playback-controls {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-self: center;
    margin-top: 0;
    padding: 0;
}


#controls-section {
    padding: .75rem;
}

#visualizer-controls {
    justify-content: space-around;
}

#bass-controls, #treble-controls {
    flex-direction: column;
}